@import "less-dep/variables.less";
@import "less-dep/mixins.less";

* {
    font-family: "Trirong", serif;
    font-style: normal;
}

body {
    background-color: whitesmoke;
}

h1 {
    font-size: 3rem;
}


// * navbar for mobile screen
.responsive-nav-social-mobile {
    background: @warning;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;

    .responsive-nav-social-mobile-left {
        -webkit-flex: 1 0 0;
        -ms-flex: 1 0 0px;
        flex: 1 0 0;

        li {
            font-size: 1.5rem;

            .fa {
                color: @success;
                margin-right: -0.7rem;
            }
        }
    }

    .responsive-nav-social-mobile-right {
        .menu-icon {
            margin-right: 1rem;
        }

        .menu-icon::after {
            padding-right: 1.5rem;
            background: @primary;
            box-shadow: 0 7px 0 @primary, 0 14px 0 @primary;
        }
    }
}

// * navbar for laptop screen
.responsive-nav-social {
    padding: 1rem;
    background-color: @warning;


    >div#responsive-menu {
        @media screen and (min-width: 39.9375em) {
            display: grid;
            grid: 40px / auto auto;
        }
    }

    a {
        color: @primary;
        font-size: 1.4rem;
        .transition(color);

        &:hover {
            color: @secondary;
        }
    }

    .menu li a {
        @media screen and (max-width: 39.9375em) {
            font-size: 1.5rem;
            padding: 1.5rem;
            color: @primary;
        }
    }

    li {
        @media screen and (max-width: 39.9375em) {
            border-bottom: 3px solid @success;

            &:last-of-type {
                border: 0;
            }
        }
    }

    .responsive-nav-social-left {
        @media screen and (max-width: 39.9375em) {
            width: 100%;

            .menu.vertical a {
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
            }
        }
    }

    .responsive-nav-social-right {
        a {
            padding-right: 0.1rem;
        }
    }

    .fa {
        color: @secondary  !important;
        font-size: 1.3rem;
        .transition(color);

        &:hover {
            color: @primary  !important;
        }
    }
}

.responsive-nav-social.is-stuck {
    width: 100%;
    box-shadow: 0px 4px 10px -2px rgba(128, 128, 128, 0.68);
}

.sticky-container {
    width: 100%;
}

// * header
.header {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%);
    color: @warning;
    overflow: hidden;
    text-transform: uppercase;
    word-spacing: 3px;

    .header-bg {
        min-height: calc(100vh - 83px);
        background: url('../images/headerBcg.jpeg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        animation: headerZoom 15s ease-in 2s infinite alternate;

        @media screen and (max-width:@sizes[tablet]) {
            padding-left: 20px;
        }
    }

    .title-heading {
        border-left: 0.3rem solid @success;
        padding-left: 5px;
        font-weight: bold;
    }

    .title {
        margin-bottom: 15px;
        font-weight: bold;

        @media screen and (max-width:@sizes[tablet]) {
            font-size: 2.2rem;
        }
    }

    .title-model {
        font-size: 1.3rem;
    }

    .title-price {
        font-size: 1.7rem;
    }

    .title-icon {
        color: @secondary;
        text-decoration: none !important;
        display: inline-block;
        margin: 0 4px;
        .transition(all);

        &:hover {
            opacity: .7;
        }
    }
}

@keyframes headerZoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1) translateX(-.5%);
    }

    100% {
        transform: scale(1);
    }
}

// * skills
.skills {
    padding: 40px 0;

    .skills__header {
        margin-bottom: 2.8em;

        >h1 {
            text-transform: uppercase;

            &:first-child {
                .first-header();
            }

            &:last-of-type {
                .section-title-special();

                @media screen and (min-width: @sizes[desktop]) {
                    margin-left: -30px;
                }
            }
        }
    }

    .skills__items {
        .skill-item {
            margin-top: 30px;
            margin-bottom: 30px;

            .skill-item__icon {
                color: @warning;
                background: @success;
                font-size: 3rem;
                padding: 0 .6rem;
                border-radius: 50%;
                transition: color .4s ease-in-out;

                &:hover {
                    color: @secondary;
                }
            }

            .skill-item__title {
                text-transform: uppercase;
                font-weight: bold;
                margin: 20px auto -10px;
            }

            .skill-item__underline {
                width: 4rem;
                height: 0.3rem;
                background: @primary;
                margin: 1rem auto;
            }

            .skill-item__desc {
                color: darken(@success, 60%);
                font-size: .88rem;
                width: 75%;
                margin: 1px auto;
            }
        }
    }
}


// * inventory
.inventory {
    background: @warning;
    padding: 20px 40px;

    .inventory__header {
        margin-bottom: 40px;

        >h1 {
            text-transform: uppercase;

            &:first-child {
                .first-header();
            }

            &:last-child {
                .section-title-special();
            }
        }
    }

    .inventory__btns {
        margin-bottom: 10px;
        margin-left: 50px;

        button {
            .border-radius(5px);
            background-color: @alert;
            margin-right: 4px;
        }
    }

    .inventory__cards {
        .inventory__cards__item {
            margin: 15px auto;

            .car-card {
                .border-radius(4px);

                .card-body {
                    padding: 20px;

                    .card-body__header {
                        text-transform: capitalize;

                        h6 {
                            &:first-child {
                                color: @primary;
                                font-size: 1.5rem;
                                font-weight: bold;
                            }
                            &:last-child {
                                color: darken(@secondary, 60%);
                            }
                        }
                    }

                    .card-body__value {
                        background: @success;
                        color: @warning;
                        height: 50px;
                        line-height: 2.5;
                        clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
                        transition: all 1s linear;

                        &::before {
                            content: "$";
                        }

                        &:hover {
                            clip-path: polygon(0% 0, 100% 0, 100% 100%, 0 100%);
                        }
                    }
                }

                .card-footer {
                    background: @secondary;
                    border-top: 1px solid @success;
                    padding-top: 10px;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-around;
                    text-transform: lowercase;
                }
            }
        }

    }
}
